<app-header></app-header>
<div class="main">
  <div class="row" *ngIf="!cart || cart.items.length > 0">
    <div class="col-9 left-content">
      <div style="width: 100%">
        <div *ngIf="cart && cart.items.length">
          <ul>
            <li
              *ngFor="let cartItem of cart.items"
              (click)="onSelect(cartItem)"
            >
              <div class="cart-img">
                <img
                  [src]="cartItem.food.imageUrl"
                  [alt]="cartItem.food.name"
                />
              </div>

              <div>
                <a routerLink="/food/{{ cartItem.food.id }}">
                  {{ cartItem.food.name }}
                </a>
              </div>

              <div>
                <!-- <input  #quantitySelect [value]="cartItem.quantity" (change)="changeQuantity(cartItem, quantitySelect.value)"> -->

                <input
                  #quantitySelect
                  type="number"
                  id="quantity"
                  name="quantity"
                  min="1"
                  pInputText
                  [(ngModel)]="cartItem.quantity"
                  (change)="changeQuantity(cartItem, quantitySelect.value)"
                  maxlength="2"
                  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                  placeholder="Quantity"
                  required
                />
              </div>

              <div>
                {{ cartItem.price | currency }}
              </div>

              <div>
                <button
                  class="remove-button"
                  (click)="removeFromCart(cartItem)"
                >
                  Remove
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-3 md-col-3 lg-col-3">
      <section style="position: sticky; top: 20px">
        <section>
          <div class="row">
            <div class=" " style="width: 100%; padding: 0px">
              <div class="checkout">
                <div class="user-info p-5">
                  <div class="foods-count">{{ cart.totalCount }}</div>
                  <div class="total-price">
                    {{ cart.totalPrice | currency }}
                  </div>
                  <div class="customer-name">User Name: {{ username }}</div>
                  <div class="user-address">Address: {{ address }}</div>
                  <br />
                  <h5>Note:</h5>
                  <span class="p-float-label">
                    <textarea
                      id="float-input"
                      rows="5"
                      cols="30"
                      pInputTextarea
                    ></textarea>
                    <label for="float-input">Please note here</label>
                  </span>

                  <br />
                  <div class="btn-confirm justify-content-center">
                    <button
                      pButton
                      pRipple
                      type="button"
                      label="Confirm Order"
                      class="thiscusor"
                      routerLink="/checkout"
                    ></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>
    </div>
    <!-- <div class="app-map">
      <app-map></app-map>
    </div> -->
    <div class="test col-12">
      <div id="map" style="height: 30rem; width: 100%"></div>
    </div>
  </div>
</div>

<div class="go-home" *ngIf="!cart || cart.items.length === 0">
  <a class="button" type="button" routerLink="/home"> Go to Home </a>
</div>
<app-map></app-map>
