<div class="dropdown" [ngClass]="{ show: showOptional }">
  <button class="btn dropdown-toggle buttonn text-white" type="button" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false" (click)="showOptional = true">
    {{ title }}
  </button>
  <div class="dropdown-menu" [ngClass]="{ show: showOptional }" aria-labelledby="dropdownMenuButton"
    (click)="showOptional = false">
    <a *ngFor="let option of options" class="dropdown-item" (click)="onSelect.next(option.value)">
      {{ option.label }}</a>
  </div>
</div>