.menu {
    justify-content: flex-end;
  }
  
  .cart{
      margin-left: 25px;
      margin-right: 10px;
  }

  .social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
  }
  
  .social-link:hover,
  .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
  }
  
  h5{
    font-size: 1rem;
  }

  strong{
    font-size: 100px;
    color: rgb(230, 24, 161);
    font-style: italic;
  }
  
  .display-4{
    font-size:65px ;
    font-style: bold;
    font-family: 'Times New Roman', Times, serif;
  }
  
  /* .backgroundtop{
    background-image: url("https://cdn.pixabay.com/photo/2022/03/23/10/07/fruit-7086847_960_720.png");
    width: 100%;
  } */

  .image{
    width: 120% !important; 
  }
  
  span{
    font-size: 70%;
  }

  #cap{
    font-size: 200%;
    color: rgb(234, 17, 140);
  }

  .tittle2{
    font-weight: bold;
    font-size: 350%;
    
  }

  .banner{
    width: 130%;
  }

  .banner1{
    height: 290px;
    width: 570px;
  }
  
  .heart{
    color: rgb(217, 34, 165);
  }