<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"
></script>

<app-header></app-header>

<body>
  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
        <div class="container"><a href="#" class="navbar-brand d-flex align-items-center"> <i class="fa fa-snowflake-o fa-lg text-primary mr-2"></i><strong>Snowflake</strong></a>
          <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
          <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active"><a href="#" class="nav-link font-italic"> Home </a></li>
              <li class="nav-item active"><a href="#" class="nav-link font-italic"> About </a></li>
              <li class="nav-item active"><a href="#" class="nav-link font-italic"> Services </a></li>
              <li class="nav-item active"><a href="#" class="nav-link font-italic"> Contact</a></li>
            </ul>
          </div>
        </div>
      </nav> -->

  <div class="bg-dark">
    <div class="container py-5">
      <div class="row h-100 align-items-center py-5">
        <div class="col-lg-6">
          <h1 class="display-4 text-white">
            Welcome you to <strong>Fuud </strong>
            <i class="pi pi-spin pi-heart-fill heart" style="font-size: 2.8rem"></i>
          </h1>
          <p class="lead mb-0 text-white">
            We created this website for helping you finding out today's
            delicious meal.
          </p>
          <p class="lead text-white">
            Join us by being our
            <a routerLink="/login" class="text-white"> <u>Fuud member.</u></a>
          </p>
        </div>
        <div class="col-lg-6 d-none d-lg-block">
          <img
            src="../../../../assets/functionpic/fuud.jpg"
            alt=""
            class="image"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="bg-white py-5">
    <div class="container py-5">
      <div class="row align-items-center mb-5">
        <div class="col-lg-6 order-2 order-lg-1">
          <i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
          <h2 class="tittle2">Reason why did we make this website?</h2>
          <p class="font-italic text-muted mb-4">
            <span
              >Because we had no choice 😭 The deadline dí us sml huhu.</span
            >
          </p>

          <p>We want to help you find out what should you eat today?</p>
          <p>Want something cheap or delicious to eat? Let us help you!</p>

          <a
            routerLink="/login"
            class="btn btn-light px-5 rounded-pill shadow-sm"
            >Join us</a
          >
        </div>
        <div class="col-lg-5  mx-auto order-1 order-lg-2 ">
          <img
            src="../../../../assets/functionpic/banner.gif"
            alt=""
            class="mb-4 mb-lg-0 banner"
          />
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-5 pr-5 mr-auto">
          <img
            src="../../../../assets/functionpic/banner.gif"
            alt=""
            class=" mb-4 mb-lg-0 banner1"
          />
        </div>
        <div class="col-lg-5">
          <i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
          <h2 class="tittle2">Something about this website?</h2>

          <p>
            <a routerLink="/home"><span id="cap">Fuud</span></a>
            is a substance that we consume in order to derive energy to run our
            body and nutrition to grow. All living organisms must have food to
            survive. It provides nourishment to our body system and makes sure
            that it works smoothly. It aids many biological processes inside the
            body and helps us grow.
          </p>

          <a
            routerLink="/login"
            class="btn btn-light px-5 rounded-pill shadow-sm"
            >Join us</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="bg-light py-5">
    <div class="container py-5">
      <div class="row mb-4">
        <div class="col-lg-5">
          <h2 class="tittle2">Our staff</h2>
          <p class="font-italic text-muted">
            Below here are our four handsome members:
          </p>
        </div>
      </div>

      <div class="row text-center">
        <!-- Team item-->
        <div class="col-xl-3 col-lg-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4">
            <img
              src="https://www.kindpng.com/picc/m/320-3206664_sticker-other-cristiano-ronaldo-cricri-cr7-qlf-muay.png"
              alt=""
              width="100"
              class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
            />
            <h5 class="mb-0">Truong Bao Lam</h5>
            <span class="small text-uppercase text-muted"
              >Function: Leader</span
            >
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item">
                <a href="https://www.facebook.com/" class="social-link"
                  ><i class="pi pi-facebook" style="font-size: 1.1rem"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.instagram.com/" class="social-link"
                  ><i class="pi pi-instagram" style="font-size: 1.1rem"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.twitter.com/" class="social-link"
                  ><i class="pi pi-twitter" style="font-size: 1.1rem"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/" class="social-link"
                  ><i class="pi pi-linkedin" style="font-size: 1.1rem"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <!-- End-->

        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4">
            <img
              src="https://cdn.skins.co/JkkVuAWjrKIXpP8azfGoWnaDjD_GOiXDYa7UGm2mTng/rs:fit:260:260:0/g:no/aHR0cHM6Ly9za2lucy5jby9zdG9yYWdlL2ltYWdlcy9lZmI2YTViZThmMzY0YzU3YjYyYTE3YzRlOWUzM2ZhNy5wbmc.webp"
              alt=""
              width="97"
              class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
            />
            <h5 class="mb-0">Nguyen Vuong Thai Bao</h5>
            <span class="small text-uppercase text-muted">Function: Cart</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item">
                <a href="https://www.facebook.com/" class="social-link"
                  ><i class="pi pi-facebook" style="font-size: 1.1rem"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.instagram.com/" class="social-link"
                  ><i class="pi pi-instagram" style="font-size: 1.1rem"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.twittercom/" class="social-link"
                  ><i class="pi pi-twitter" style="font-size: 1.1rem"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/" class="social-link"
                  ><i class="pi pi-linkedin" style="font-size: 1.1rem"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <!-- End-->

        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4">
            <img
              src="https://www.kindpng.com/picc/m/155-1551570_icon-yasuo-hd-png-download.png"
              alt=""
              width="100"
              class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
            />
            <h5 class="mb-0">Dang Ngoc Thai Bao</h5>
            <span class="small text-uppercase text-muted"
              >Function: Home & About us</span
            >
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item">
                <a href="https://www.facebook.com/" class="social-link"
                  ><i class="pi pi-facebook" style="font-size: 1.1rem"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.instagram.com/" class="social-link"
                  ><i class="pi pi-instagram" style="font-size: 1.1rem"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.twitter.com/" class="social-link"
                  ><i class="pi pi-twitter" style="font-size: 1.1rem"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/" class="social-link"
                  ><i class="pi pi-linkedin" style="font-size: 1.1rem"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <!-- End-->

        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4">
            <img
              src="https://unbiased-gamer.com/wp-content/uploads/2022/03/garen-classic.png"
              alt=""
              width="100"
              class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
            />
            <h5 class="mb-0">Nguyen Hai Quan</h5>
            <span class="small text-uppercase text-muted">Function: Order</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item">
                <a href="https://www.facebook.com/" class="social-link"
                  ><i class="pi pi-facebook" style="font-size: 1.1rem"></i
                ></a>
              </li>

              <li class="list-inline-item">
                <a href="https://www.instagram.com/" class="social-link"
                  ><i class="pi pi-instagram" style="font-size: 1.1rem"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.twitter.com/" class="social-link"
                  ><i class="pi pi-twitter" style="font-size: 1.1rem"></i
                ></a>
              </li>

              <li class="list-inline-item">
                <a href="https://www.linkedin.com/" class="social-link"
                  ><i class="pi pi-linkedin" style="font-size: 1.1rem"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <!-- End-->
      </div>
    </div>
  </div>
</body>

<app-footer></app-footer>
