<app-header></app-header>
<div class="head">
  <!-- <div class="pi pi-search custom justify-content-start">
    <input class="search-control" type="text" placeholder="Search" [(ngModel)]="searchText" #searchbar />
    
  </div> -->
  <div>
    <app-search (newItemEvent)="searchFoodByName($event)"></app-search>
  </div>

  <app-tags></app-tags>


</div>

<div class="main">
  <div class="container">
    <!-- <div class="row ">
        <div class="card col-12 col-md-4 col-lg-4 m-2" *ngFor="let food of foods">
          <a routerLink="/food/{{food.id}}"><img class="card-img-top" [src]="food.imageUrl" alt="Image"
              style="width: 100%">
          </a>
          <div class="card-body">
            <p class="card-text">{{ food.name }}</p>
            <p class="card-text">{{ food.price }}</p>
            <p class="card-text">{{ food.cookTime }}</p>
            <p-button label="Add Cart" styleClass="p-button-raised p-button-text p-button-secondary w-100"
              (click)="addToCart(food)"></p-button>
          </div>
        </div>
    </div> -->

    <ul>
      <!-- <li *ngFor="let food of foods"> -->
      <li *ngFor="let food of foods | async">
        <a routerLink="/food/{{food.id}}">
          <img [src]="food.imageUrl" [alt]="food.name" />
          <div class="content">

            <div class="fname">
              {{food.name}}
            </div>

            <span class="favorite {{food.favorite?'':'not'}}">
              ❤
            </span>

            <div class="product-item-footer">
              <div class="origins">
                <span *ngFor="let origin of food.origins">
                  {{origin}}
                </span>
              </div>

              <div class="cook-time">
                <span>🕒</span>
                {{food.cookTime}}
              </div>
            </div>

            <div class="price">
              <span>
                {{food.price | currency}}
              </span>
            </div>
          </div>
        </a>
        <button type="button" class="addtocart" (click)="addToCart(food)"> <strong> <i class="pi pi-cart-plus"
              style="font-size: 1.5rem"></i> </strong></button>
    </ul>
  </div>
</div>

<app-footer></app-footer>

 

<!-- <ul>
  <li *ngFor="let food of foods">
    <a routerLink="/food/{{food.id}}">
      <img [src]="food.imageUrl" [alt]="food.name" />
      <div class="content">
        <div class="name">
          {{food.name}}
        </div>
        <span class="favorite {{food.favorite?'':'not'}}">
          ❤
        </span>

        <div class="product-item-footer">
          <div class="origins">
            <span *ngFor="let origin of food.origins">
              {{origin}}
            </span>
          </div>

          <div class="cook-time">
            <span>🕒</span>
            {{food.cookTime}}
          </div>
        </div>

        <div class="price">
          <span>
            {{food.price | currency}}
          </span>
        </div>
      </div>
    </a>



    <button type="button" class="addtocart" (click)="addToCart(food)"> <strong> Add To Cart </strong></button>

</ul> -->
<app-footer></app-footer>
