div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  
}

div a {
  background-color: #95c8ff;
  padding: 0.3rem 1rem;
  margin: 0.2rem 0.15rem;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: 600;
  color: blue;
  text-decoration: none;

}
div a:hover{
  opacity: 60%;
}
div a:active{
  background-color: antiquewhite;
}

div a:focus{
  background-color: aqua;
}
